//Animation


// Animation for the scroll down:
.scrollDown::before{
    animation: scroll 1.5s infinite;
}
@keyframes scroll{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(40px);
    }
}

// Animation for the scroll top....

.scrollUp{
    animation: goTop 2s linear infinite;
}

@keyframes goTop{
    0%,
    100%{
        transform: translateY(0);
        opacity: 0.5;
    }
    50%{
        transform: translateY(-20px);
        opacity: 1;
    }
}

// Media Query for heading animation...
@media only screen and (min-width: 768px) {
    @keyframes animatedHeading{
        from{width: 0;}
        to{width: 273px;}
    }
}

@media only screen and (min-width: 992px) {
    @keyframes animatedHeading{
        from{width: 0;}
        to{width: 311px;}
    }
}