//Animation
.typed-cursor{
    color: $baseColour;
}

// Animation for the scroll down from the header------------------
.scrollDown::before{
    animation: scroll 1.5s infinite;
}
@keyframes scroll{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(40px);
    }
}

// Animation to scroll to the top-------------------------------

.scrollUp{
    animation: goTop 2s linear infinite;
}

@keyframes goTop{
    0%,
    100%{
        transform: translateY(0);
        opacity: 0.5;
    }
    50%{
        transform: translateY(-20px);
        opacity: 1;
    }
}