body{
    background-color: $primaryBackground;
}
header{
    min-height: 100vh;
    background-image: url("https://i.ibb.co/0F2pk4v/IMG-0448.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0 0 20px;
    .topContainer{ 
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 20px 10px;
        transition: all linear 0.5s;
    }
    .introContainer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $secondaryBackground;
        border-radius: 20px;
        box-shadow: 0 0 5px $primaryHeading;
        padding: 50px;
        width: 345px;
    }
}
