// TOP NAV will be available only for larger screen

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-color: $secondaryBackground;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    .logo{
        width: 5%;
        margin: 0;
    }
}
.topNav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.topNav{
    padding: 10px;
    li a{
        color: $primaryHeading;
        text-transform: uppercase;
        font-family: $headingFont;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
        border-left: 2px solid transparent;
        border-bottom: 2px solid transparent;
        padding: 5px 10px;
        margin: 0px 5px; 
        &:hover,
        &:active,
        &:focus{
            cursor: pointer;
            background-color: transparent;
            border-left: 2px solid $primaryHeading;
            border-bottom: 2px solid $primaryHeading;
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
        }
    }
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.stickyNav {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    right: 0;
    left: 0;
}

// SLIDING menu for tablet and mobile version

.slidingMenuToggle{
    padding-top: 20px;
    .slidingMenu {
        background-color: $tertiaryBackground;
        overflow: hidden;
        position: fixed;
        right: 0;
        top: -100%;
        z-index: 2;
        transition: all 0.7s linear;
        height: auto;
        width: 100%;
        li{
            list-style: none;
            text-align: center;
        }
    }
}

.slidingMenu a{
    display: inline-block;
    transition: color 0.2s ease;
    color: $primaryBackground;
    padding: 20px;
    width: 100%;
    &:focus,
    &:active{
        background-color: $primaryHeading;
        border-bottom: 1px solid $primaryHeading;
    }
}
 

.hamburger{
    position: fixed;
    z-index: 1;
    color: $baseColour;
    font-size: 3rem;
    top: 20px;
    right: 20px;
}

.scrollDown,
.scrollDown::before{
    position: absolute;
    left: 50%;
    bottom: 5%;
}

.scrollDown{
    width: 40px;
    height: 70px;
    margin-left: -20px;
    margin-top: -35px;
    box-shadow: inset 0 0 6px 2px $baseColour;
    border-radius: 25px;
    border: 2px solid $baseColour;
}

.scrollDown::before{
    content: '';
    width: 12px;
    height: 12px;
    background: $baseColour;
    margin-left: -6px;
    top: 8px;
    border-radius: 6px;
}


// Go to TOP button style...
.scrollUp{
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    a{
        padding: 10px;
        &:active,
        &:focus{
            background-color: transparent;
        }
        i{
            font-size: 3.5rem;
            color: $primaryHeading;
        }
    }
    
}

@media only screen and (min-width: 1024px){
    .stickyNav{
        display: inline-block;
    }

    .slidingMenuToggle{
        display: none;
    }

    .scrollUp a:hover{
        background-color: transparent;
    }
}

