// TOP Nav styles....
// TOP nav for larger screen
.topNav{
    display: none;
    justify-content: space-evenly;
    align-items: center;
}

.topNav li a{
    padding: 5px 10px;
    margin: 0px 5px;
    color: $bodyColour;
    &:hover{
        color: $secondaryBackground;
    }
}

// SLIDING menu for tablet and mobile version

.slidingMenuToggle{
    padding-top: 20px;
    .slidingMenu {
        background: $headerBackground;
        overflow: hidden;
        position: fixed;
        right: 0;
        top: -100%;
        transition: all 0.5s ease-in;
        height: auto;
        width: 100%;
        li{
            list-style: none;
            text-align: center;
        }
    }
}
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .slidingMenu {
    top: 0;
    z-index: 1;
}
.slidingMenu a{
    display: inline-block;
    transition: color 0.3s ease;
    color: $bodyColour;
    padding: 20px;
    width: 100%;
}

.slidingMenu a:focus,
.slidingMenu a:active{
    color: $baseColour;
    border-bottom: 1px solid $secondBaseColour;
} 

label {
    position: fixed;
    z-index: 2;
    color: $secondBaseColour;
    font-size: 3rem;
    top: 20px;
    right: 20px;
}


@media only screen and (min-width: 1024px){
    .topNav{
        display: flex;
    }

    .slidingMenuToggle{
        display: none;
    }
}

