    // setting the scss variables
 
    // colors...
    $primaryColor: #FDECEF;
    $secondaryColor: #500808;
    $firstAccentColor:#930606;
    $secondAccentColor: #17292f;;
    $resultColor: #472317;
    
    // Fonts....
    $headingFont:'Raleway', sans-serif;
    $bodyFont: 'Poppins', sans-serif;

    // MIXIN for fonts.........
    // @mixin fontDef($family: $fontDefault,
    // $sizeValue: 2rem, 
    // $weight: 400, 
    // $lineHeight: 6.4rem, 
    // $letterSpacing: 1.1px) {
    //     font-family: $family;
    //     font-size: $sizeValue;
    //     font-weight: $weight;
    //     line-height: $lineHeight;
    //     letter-spacing: $letterSpacing;
    // }

    