// ABOUT SECTION--------------------------
main {
    padding-top: 80px;
    .aboutContainer { 
        padding: 5rem 0 0 0;
    }
}

.infoContainer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    figure {
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 5px $baseColour;
        margin: 0 20px 20px 0;
        width: calc((100% - 20px) / 2);
    }    
    .aboutMe {
        padding: 10px;
        p {            
            padding: 0 20px 20px 20px;
        }
    }
}


