// FORM styles.........
.contactContainer{
    margin-top: 15%;
}
.contactFormContainer{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    p{
        text-align: left;
    }
}

.formContainer{
    display: flex;
}

input[type="text"],
input[type="email"]{
    background-color: transparent;
    border: none;
    text-align: left;
    border-bottom: 2px solid $baseColour;
    padding: 20px 5px;
}

input[type="text"]{
    margin: 0;
    margin-right: 20px;
    width: calc(50% - 20px);
}

input[type="email"]{
    margin: 0;
    margin-left: 20px;
    width: calc(50% - 20px);
}

textarea[id="message"]{
    background-color: transparent;
    text-align: left;
    border: 2px solid $secondBaseColour; 
    padding: 10px;
    margin: 30px 0;
    width: 100%;   
}


.submit{
    padding: 15px 30px;
    margin-bottom: 50px;
    width: 100%;
}


// Social Nav styles....
.socialNav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

@media only screen and (min-width: 992px){
    .contactContainer{
        margin-top: 5%;
    }
    .contactFormContainer{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }
}