// PROJECT SECTION--------------------------

.projectsContainer {
    margin-bottom: 20px;
    // .projectsList{
    //     margin-top: 30%;
    // }
    
}    

.project{
    background-color: $secondaryBackground;
    border-radius: 50px;
    box-shadow: 0 0 5px $baseColour;
    overflow-x: hidden;
    padding: 30px 0;
    margin: 0 0 5% 0;
    &:last-of-type{
        margin: 0 0 10% 0;
    }
    .projectImage{
        margin: 0 auto;
    }
    .projectInfo{
        padding: 10px;
        text-align: left;
        p{
            text-align: left;
            padding: 10px 0;
            .madeWith{
                position: relative;
                color: $baseColour;
                z-index: 0;
                font-size: 2rem;
                margin: 0 5px 0;
                &::after{
                    content: '';
                    background: $baseColour;
                    position: absolute;
                    display: block;
                    height: 50%;
                    width: 98%;
                    top: 50%;
                    left: -2%;
                    opacity: .2;
                    z-index: -1;
                }
                &:first-of-type{
                    margin-left: 0;
                }
            }
        }
        .skillTags{
            margin-bottom: 20px;
        }
        .projectLink a:first-of-type{
            margin-right: 10px;
        }
    }
}
