.projectsContainer {
    margin-bottom: 20px;
    .heading{
        margin: 5% 0 15%;
    }
}    

.project{
    background-color: $headingBackground;
    border-radius: 50px;
    box-shadow: 0 0 5px $headerBackground;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 30px 0;
    margin: 0 0 25% 0;
    &:last-of-type{
        margin: 0 0 10% 0;
    }
    figure{
        position: absolute;
        top: -10%;
        padding: 20px;
        margin: 0 auto;
    }
    .projectInfo{
        padding: 20px 50px;
        text-align: left;
        margin: 25% auto 0;
        p{
            text-align: left;
            padding: 10px 0;
            margin-bottom: 10px;
            .madeWith{
                position: relative;
                color: $secondaryBackground;
                z-index: 0;
                margin-right: 5px;
                &::after{
                    content: '';
                    background: $baseColour;
                    position: absolute;
                    display: block;
                    height: 50%;
                    width: 98%;
                    top: 50%;
                    left: -2%;
                    opacity: .2;
                    z-index: -1;
                }
            }
        }
    }
}

@media only screen and (min-width: 376px){
    .project figure{
        top: -15%;
    }
    .project .projectInfo{
        margin-top: 20%;
    }
}

@media only screen and (min-width: 470px){
    .project figure{
        top: -25%;
    }
    .project .projectInfo{
        margin-top: 20%;
        a{
            margin: 10px 20px 0 0;
        }
    }
        
}

@media only screen and (min-width: 470px){
    .project .projectInfo{
        margin-top: 25%;
    }
        
}

@media only screen and (min-width: 768px){
    .project{
        margin: 10% 10% 25% 10%;
        &:last-of-type{
            margin: 10%;
        }

        figure{
            padding: 20px 50px;
        }
    } 
}

@media only screen and (min-width: 992px){
    .project .projectInfo{
        margin-top: 32%;
    }
}

@media only screen and (min-width: 1200px){
    .projectsContainer .heading{
        margin: 5% 0;
    }
    .project,
    .project:last-of-type{
        flex-wrap: nowrap;
        align-items: center;
        margin: 50px auto;
        figure{
            position: static;
            padding: 0;
        }
        .projectInfo{
            margin-top: 0;
        }
    }  

    .projectTwo,
    .projectFour{
        flex-direction: row-reverse;
    }
}