.skillsContainer{
    padding: 1rem 0 5rem;
    margin-bottom: 20px;
}

.skillsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $secondaryBackground;
    border-radius: 50px;
    box-shadow: 0 0 5px $baseColour;
    padding: 30px;
    .skillTitle{
        display: flex;
        flex-direction: column;
        width: calc((100% - 40px) / 2);
        justify-content: space-evenly;
        align-items: center;
        margin: 20px 0 20px;
        p{
            padding: 15px;
        }
    }
}    

@media only screen and (min-width: 768px){
    .skillsList .skillTitle{
        width: calc((100% - 20px) / 3);
    }
    
}
@media only screen and (min-width: 992px){
    .skillsList .skillTitle{
        width: calc((100% - 20px) / 4);
    }
}