
// TO DO LATER: MAKE 320 AS BASE AND ADD MEDIA QUERY FOR 350 INSTEAD // CURRENT BASE IS ON 350PX-----------
@media only Screen and (min-width: 320px) {

    // HEADER-------------------------------
    header .introContainer {
        padding: 50px 30px ;
    }

    // PROJECT SECTION------------------------
    .projectLink a {
        font-size: 1.5rem;
        display: inline-block;
        margin: 0 auto;
    }

    // CONTACT SECTION--------------------------
    .socialNav li a {
        padding: 3px;
    }
}

@media only screen and (min-width: 375px){
     // TYPOGRAPHY------------------------
    h1 {
        font-size: 3.5rem;
    }
    
    header .introContainer .animatedStrings{
        font-size: 2.5rem;
    }

    .project .projectLink a:first-of-type {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 440px) {

    .project .projectInfo {
        padding: 20px 30px;
    }

    .project .projectLink a{
        margin-right: 20px;
    }

    .socialNav li a {
        padding: 10px;
    }    
}



@media only screen and (min-width: 768px){
    
    // TYPOGRAPHY------------------------
    h1 {
        font-size: 6rem;
    }
    
    header .introContainer .animatedStrings{
        font-size: 4rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 3rem;
    }

    p,
    a {
        font-size: 2rem;
    }

    .skillsList .skillTitle {
        font-size: 5rem;
        p {
            font-size: 1.75rem;
        }
    }

    // HEADER SECTION-----------------------
     header {
        background-attachment: fixed;
        .top{
            .logo{
                width: 10%;
            }
        }
    }

    // SKILLS SECTION-----------------------
    .skillsContainer{
        padding: 5rem 0;
    }

    .skillsList {
        padding: 30px;
        .skillTitle {
            width: calc((100% - 20px) / 3);
        }  
    } 
    
    .project {
        .projectImage ,
        .projectInfo,
        .projectLink{
            padding: 20px 50px;
        }
    } 
 
}


// MIN WIDTH: 992PX--------------------------
@media only screen and (min-width: 992px){

    // TYPOGRAPHY--------------------------
     h1 {
        font-size: 9rem;
    }
    
    header .introContainer .animatedStrings{
        font-size: 5rem;
    }

    h2 {
        font-size: 3.8rem;
    }

    h3 {
        font-size: 3.5rem;
    }

    // HEADER SECTION-----------------------
    .scrollUp{
        display: flex;
    }

    
    // ABOUT SECTION---------------------
    .infoContainer {
        flex-wrap: nowrap;
        figure {
            width: calc((100% - 20px) / 4);
        }
        .aboutMe {
            margin: 0 0 0 30px;
            width: calc((100% - 30px) / 2);
        }
    }

    // SKILLS SECTION-----------------------
    .skillsContainer {
        padding-top: 5rem;
    }
    .skillsList .skillTitle {
        width: calc((100% - 20px) / 4);
    }
    
    // PROJECT SECTION----------------------
   
    .projectsContainer .projectsList {
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 40px 20px;
        .project{
            margin: 0;
            display: grid;
            grid-template-rows: 0fr 1fr auto;
            .projectInfo{
                padding: 0 50px;
            }
        }
    }

    .projectsContainer {
        padding-top: 5rem;
    }

    // CONTACT SECTION-------------------------
    .contactContainer {
        padding-top: 5rem;
        margin: 0;
    }
    .contactFormContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        align-items: center;
        .contactInfo p{
            padding: 10px 50px;
        } 
    }

    input[type="text"] {
        margin: 0;
        margin-right: 20px;
        width: calc(50% - 20px);
    }

    input[type="email"] {
        margin: 0;
        margin-left: 20px;
        width: calc(50% - 20px);
    }
}


@media only screen and (min-width: 1024px) {
    
    // HEADER SECTION------------------------
    header .top .logo{
        width: 5%;
    }

    .topNav{
        display: flex;
    }

    .slidingMenuToggle{
        display: none;
    }

    .scrollUp a:hover{
        background-color: transparent;
    }
}

@media only screen and (min-width: 1200px) {

    // TYPOGRAPHY------------------------------
    a:hover {
        color: $primaryBackground;
        background-color: $primaryHeading;
        border-radius: 5px;
    }

    .socialNav li a:hover {
        color: $primaryBackground;
        background-color: $baseColour;
        transform: scale(1.1);
        transition: 0.5s;
    }

    .borderBottom:hover {
        width: 250px;
    }

    .skillTitle:hover,
    .project .projectLink a:hover,
    .submit:hover {
        color: $baseColour;
        transform: scale(1.1);
        transition: 0.5s;
    }

    .contactInfo a.anchorBaseColour:hover {
        transform: none;
        text-decoration: underline;
        font-style: italic;
    }

    .submit:hover {
        background-color: $baseColour;
        color: $primaryBackground;
        border: 2px solid $primaryBackground;
        box-shadow: -3px 3px $primaryHeading;
        transform: translateX(-5px);
    }

    // HEADER SECTION-------------------------
    header .introContainer{
        padding: 50px 100px;
    }
}