
// TYPOGRAPHY-------------------

// HEADINGS-----------
h1,
h2,
h3 {
    font-family: $headingFont;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.6;
    color: $bodyColour;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

h1 {
    color: $topHeading;
}

header .introContainer .animatedStrings{
    font-size: 2.2rem;
    color: $topHeading;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    font-family: $headingFont;
}

h3 {
    color: $baseColour;
    font-weight: 500;
    text-align: left;
    margin: 0;
}

p,
a,
input[type="text"],
input[type="email"],
textarea,
.submit{
    font-family: $bodyFont;
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    color: $bodyColour;
}

a:focus,
a:active{
    color: $primaryBackground;
    background-color: $primaryHeading;
    box-shadow: 0 0 5px $baseColour;
    opacity: 0.8;
    border-radius: 5px;
}

// COMMON--------------
.baseColour {
    color: $baseColour;
}

.animationColour{
    color: $baseColour;
}

.headingContent{
    text-align: center;
    margin: 20px 0;
    h2{
        text-shadow: 16px 11px 3px rgba(44, 45, 48, 0.3);
        letter-spacing: 0.2rem;
        font-weight: 500;
    }
}

.borderBottom{
    height: 3px;
    width: 90px;
    margin: 20px auto;
    transition: all 0.5s;
    background-color: $baseColour;
    text-align: center;
}

// ABOUT SECTION--------------------------
.aboutMe p{
    text-align: left;
}

.aboutMe .animationColour{
    font-style: italic;
}


// SKILLS SECTION--------------------------
.skillTitle{
    font-size: 3rem;
    color: $bodyColour;
    &:focus,
    &:active{
        color: $baseColour;
        transform: scale(1.1);
        transition: ease;
    }
}

.skillsList .skillTitle p{
    font-size: 1.4rem;
}

// PROJECT SECTION--------------------------
.project .projectLink a,
.submit{
    text-transform: uppercase;
    color: $primaryBackground;
    background-color: $bodyColour;
    border-radius: 10px;
    box-shadow: 0 0 5px $baseColour;
    letter-spacing: 2px;
    padding: 10px 20px;
    margin: 0;
    &:active,
    &:focus{
        color: $baseColour;
    }
}

.contactInfo a.anchorBaseColour{
    background-color: transparent;
    color: $baseColour;
    padding: 0;
    box-shadow: none;
    display: inline-block;
    text-transform: none;
    &:focus,
    &:active{
        transform: none;
        font-style: italic;
        text-decoration: underline;
    }
}

/// CONTACT SECTION--------------------------
.submit{
    border: 2px solid $baseColour;
    box-shadow: -5px 5px $baseColour; 
    background: $primaryBackground;
    color: $primaryHeading; 
    &:active,
    &:focus{
        background-color: $primaryHeading;
        color: $primaryBackground;
        box-shadow: -3px 3px $primaryHeading;
        transform: translateX(-5px);
    }
}

// SOCIAL MEDIA---------------------
.socialNav{
    li{
        padding: 0;
        display: flex;
        margin-right: 20px;
        &:last-of-type{
            margin-right: 0;
        }
        a{
            color: $baseColour;
            padding: 10px;
            border: 2px solid $primaryBackground;
            border-radius: 10px;
            box-shadow: 0 0 5px $baseColour;
            &:active,
            &:focus{
                color: $primaryBackground;
                background-color: $primaryHeading;
                transform: scale(1.1);
                transition: 0.5s;
            }
            i{
                font-size: 2.5rem; 
                padding: 10px;   
            }
        }
    }
} 

// Footer styles
footer p{
    font-family: $headingFont;
    line-height: 1.2;
} 