

// Heading styles..
h1,
h2,
h3,
h4{
    font-family: $headingFont;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.6;
    color: $bodyColour;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

.baseColour{
    color: $baseColour;
}

.animationColour{
    color: $baseColour;
}

.aboutMe .animationColour{
    font-style: italic;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    font-family: $headingFont;
}

h3,
h4{
    font-size: 2.8rem;
    width: max-content;
}

h4{
    color: $baseColour;
    font-weight: 500;
    margin: 0;
}

p,
a,
input[type="text"],
input[type="email"],
textarea,
.submit{
    font-family: $bodyFont;
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    color: $bodyColour;
}

a:focus,
a:active{
    color: $primaryBackground;
    background-color: $primaryHeading;
    box-shadow: 0 0 5px $baseColour;
    opacity: 0.8;
    border-radius: 5px;
}


.headingContent{
    text-align: center;
    margin: 20px 0;
    h2{
        text-shadow: 16px 11px 3px rgba(44, 45, 48, 0.3);
        letter-spacing: 0.2rem;
        font-weight: 500;
    }
}

.borderBottom{
    height: 3px;
    width: 90px;
    margin: 20px auto;
    transition: all 0.5s;
    background-color: $baseColour;
    text-align: center;
}

// About Section
.aboutMe p{
    text-align: left;
}


// Skills Section:
.skillTitle{
    font-size: 5rem;
    color: $bodyColour;
    &:focus,
    &:active{
        color: $baseColour;
        transform: scale(1.1);
        transition: ease;
    }
}

.skillsList .skillTitle p{
    font-size: 1.75rem;
}

// Projects Section:
.project .projectInfo a,
.submit{
    text-transform: uppercase;
    color: $primaryBackground;
    background-color: $bodyColour;
    border-radius: 10px;
    box-shadow: 0 0 5px $baseColour;
    letter-spacing: 2px;
    padding: 10px 20px;
    margin: 0;
    &:active,
    &:focus{
        color: $baseColour;
    }
}

.project .projectInfo a.anchorBaseColour,
.contactInfo a.anchorBaseColour{
    background-color: transparent;
    color: $baseColour;
    padding: 0;
    box-shadow: none;
    display: inline-block;
    text-transform: none;
    &:focus,
    &:active{
        transform: none;
        font-style: italic;
        text-decoration: underline;
    }
}


.submit{
    border: 2px solid $baseColour;
    box-shadow: -5px 5px $baseColour; 
    background: $primaryBackground;
    color: $primaryHeading; 
    &:active,
    &:focus{
        background-color: $primaryHeading;
        color: $primaryBackground;
        box-shadow: -3px 3px $primaryHeading;
        transform: translateX(-5px);
    }
}

// Social Media Icons styling....
.socialNav{
    li{
        padding: 0;
        display: flex;
        margin-right: 20px;
        &:last-of-type{
            margin-right: 0;
        }
        a{
            color: $baseColour;
            padding: 10px;
            border: 2px solid $primaryBackground;
            border-radius: 10px;
            box-shadow: 0 0 5px $baseColour;
            &:active,
            &:focus{
                color: $primaryBackground;
                background-color: $primaryHeading;
                transform: scale(1.1);
                transition: 0.5s;
            }
            i{
                font-size: 2.5rem; 
                padding: 10px;   
            }
        }
    }
} 

// Footer....
footer p{
    font-family: $headingFont;
    line-height: 1.2;
}
 

@media only screen and (min-width: 768px){
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3.5rem;
    }
    h3,
    h4{
        font-size: 3rem;
    }
    p,
    a{
        font-size: 2rem;
    }
    .headingBackground{
        font-size: 5rem;
    }
}


@media only screen and (min-width: 992px){
    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 3.8rem;
    }

    h3{
        font-size: 3.5rem;
    }
    h4{
        font-size: 3.5rem;
    }
}


@media only screen and (min-width: 1200px){
    a:hover{
        color: $primaryBackground;
        background-color: $primaryHeading;
        border-radius: 5px;
    }

    .socialNav li a:hover{
        color: $primaryBackground;
        background-color: $baseColour;
        transform: scale(1.1);
        transition: 0.5s;
    }

    .borderBottom:hover{
        width: 250px;
    }

    .skillTitle:hover,
    .project .projectInfo a:hover,
    .submit:hover{
        color: $baseColour;
        transform: scale(1.1);
        transition: 0.5s;
    }
    .project .projectInfo a.anchorBaseColour:hover,
    .contactInfo a.anchorBaseColour:hover{
        transform: none;
        text-decoration: underline;
        font-style: italic;
    }
    .submit:hover{
        background-color: $baseColour;
        color: $primaryBackground;
        border: 2px solid $primaryBackground;
        box-shadow: -3px 3px $primaryHeading;
        transform: translateX(-5px);
    }
}