// Setting heading styles.....

h1,
h2,
h3,
h4{
    font-family: $headingFont;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.6;
    color: $primaryHeading;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
.baseColour{
    color: $baseColour;
}
h1{
    border-right: solid 3px $baseColour;
    overflow: hidden;
    white-space: nowrap;    
}

.animationColour{
    color: $secondBaseColour;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    font-family: $headingFont;
}

h3,
h4{
    font-size: 2.2rem;
    width: max-content;
}

h4{
    color: $secondaryBackground;
    font-weight: 500;
    margin: 0;
}

p,
a,
input[type="text"],
input[type="email"],
textarea,
.submit{
    font-family: $bodyFont;
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    color: $headerBackground;
}
footer p{
    font-family: $headingFont;
    line-height: 1.2;
}

.logo{
    color: $secondBaseColour;
}

a:focus,
a:active{
    color: $secondaryBackground;
    background-color: $secondBaseColour;
    box-shadow: 0 0 5px $secondaryBackground;
    opacity: 0.8;
    border-radius: 5px;
}
.headingBackground{
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    color: $headingBackground;
    font-family: $bodyFont;
    margin-top: -18px;
}

.headingContent{
    text-align: center;
    position: relative;
    top: -40px;
}

.borderBottom{
    height: 3px;
    width: 90px;
    margin: 20px auto;
    transition: all 0.5s;
    background-color: $baseColour;
    text-align: center;
}

.skillTitle{
    font-size: 5rem;
    color: $secondaryBackground;
    &:focus,
    &:active{
        color: $baseColour;
    }
}

.skillsList .skillTitle p{
    font-size: 1.75rem;
    color: $headerBackground;
}

// Buttons for projects and submit form
.project .projectInfo a,
.submit{
    text-transform: uppercase;
    background-color: $sectionBackground;
    border-radius: 10px;
    box-shadow: 0 0 5px $headingBackground;
    letter-spacing: 2px;
    padding: 10px 20px;
    margin: 0;
    &:active,
    &:focus{
        color: $baseColour;
    }
}
.submit{
    border: 2px solid $baseColour;
    box-shadow: 0 0 5px $baseColour;   
}

@media only screen and (min-width: 768px){
    h1{
        font-size: 3.5rem;
    }
    h3{
        font-size: 2.5rem;
    }
    p,
    a{
        font-size: 2rem;
    }
    .headingBackground{
        font-size: 5rem;
    }
}


@media only screen and (min-width: 992px){
    h1{
        font-size: 4rem;
    }
    h3{
        font-size: 3.5rem;
    }
    h4{
        font-size: 3.5rem;
    }
}


@media only screen and (min-width: 1200px){
    a:hover{
        color: $secondaryBackground;
        background-color: $secondBaseColour;
        opacity: 0.8;
        border-radius: 5px;
    }
    .borderBottom:hover{
        width: 120px;
    }

    .skillTitle:hover,
    .project .projectInfo a:hover,
    .submit:hover{
        color: $baseColour;
    }
    .submit:hover{
        background-color: $headingBackground;
    }
}