    // setting the scss variables
 
    // colors...
    $bodyColour: #110307;
    $primaryHeading: rgb(72, 14, 29);
    $secondaryHeading: rgba(44, 45, 48, 0.2);
    $primaryBackground: #f9f5f0;
    $secondaryBackground: rgba(249, 245, 240, 0.6);
    $tertiaryBackground: rgba(103, 52, 94, 0.6);
    // $tertiaryBackground: rgba(72, 14, 29, 0.7);
    $baseColour: #b4003c;
        
    // Fonts....
    $headingFont:'Raleway', sans-serif;
    $bodyFont: 'Poppins', sans-serif;

    