    // setting the scss variables
 
    // colors...
    $bodyColour: rgb(17, 3, 7);
    $primaryHeading: rgb(72, 14, 29);
    $secondaryHeading: rgba(44, 45, 48, 0.2);
    $primaryBackground: rgb(249, 245, 240);
    $secondaryBackground: rgba(249, 245, 240, 0.6);
    $tertiaryBackground: rgba(103, 52, 94, 0.8);
    $baseColour: rgb(180, 0, 60);
    $topHeading:  #3c3a3a;
        
    // Fonts....
    $headingFont:'Raleway', sans-serif;
    $bodyFont: 'Poppins', sans-serif;

    