html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.6;
  color: #110307;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

h3 {
  font-size: 2.2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

h4 {
  color: #b4003c;
  font-weight: 500;
  text-align: left;
  margin: 0;
}

p,
a,
input[type="text"],
input[type="email"],
textarea,
.submit {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color: #110307;
}

a:focus,
a:active {
  color: #f9f5f0;
  background-color: #480e1d;
  -webkit-box-shadow: 0 0 5px #b4003c;
          box-shadow: 0 0 5px #b4003c;
  opacity: 0.8;
  border-radius: 5px;
}

.baseColour {
  color: #b4003c;
}

.animationColour {
  color: #b4003c;
}

.headingContent {
  text-align: center;
  margin: 20px 0;
}

.headingContent h2 {
  text-shadow: 16px 11px 3px rgba(44, 45, 48, 0.3);
  letter-spacing: 0.2rem;
  font-weight: 500;
}

.borderBottom {
  height: 3px;
  width: 90px;
  margin: 20px auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #b4003c;
  text-align: center;
}

.aboutMe p {
  text-align: left;
}

.aboutMe .animationColour {
  font-style: italic;
}

.skillTitle {
  font-size: 3rem;
  color: #110307;
}

.skillTitle:focus, .skillTitle:active {
  color: #b4003c;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease;
  transition: ease;
}

.skillsList .skillTitle p {
  font-size: 1.4rem;
}

.project .projectInfo a,
.submit {
  text-transform: uppercase;
  color: #f9f5f0;
  background-color: #110307;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px #b4003c;
          box-shadow: 0 0 5px #b4003c;
  letter-spacing: 2px;
  padding: 10px 20px;
  margin: 0;
}

.project .projectInfo a:active, .project .projectInfo a:focus,
.submit:active,
.submit:focus {
  color: #b4003c;
}

.project .projectInfo a.anchorBaseColour,
.contactInfo a.anchorBaseColour {
  background-color: transparent;
  color: #b4003c;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: inline-block;
  text-transform: none;
}

.project .projectInfo a.anchorBaseColour:focus, .project .projectInfo a.anchorBaseColour:active,
.contactInfo a.anchorBaseColour:focus,
.contactInfo a.anchorBaseColour:active {
  -webkit-transform: none;
          transform: none;
  font-style: italic;
  text-decoration: underline;
}

.submit {
  border: 2px solid #b4003c;
  -webkit-box-shadow: -5px 5px #b4003c;
          box-shadow: -5px 5px #b4003c;
  background: #f9f5f0;
  color: #480e1d;
}

.submit:active, .submit:focus {
  background-color: #480e1d;
  color: #f9f5f0;
  -webkit-box-shadow: -3px 3px #480e1d;
          box-shadow: -3px 3px #480e1d;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.socialNav li {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.socialNav li:last-of-type {
  margin-right: 0;
}

.socialNav li a {
  color: #b4003c;
  padding: 10px;
  border: 2px solid #f9f5f0;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px #b4003c;
          box-shadow: 0 0 5px #b4003c;
}

.socialNav li a:active, .socialNav li a:focus {
  color: #f9f5f0;
  background-color: #480e1d;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socialNav li a i {
  font-size: 2.5rem;
  padding: 10px;
}

footer p {
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
}

.typed-cursor {
  color: #b4003c;
}

.scrollDown::before {
  -webkit-animation: scroll 1.5s infinite;
          animation: scroll 1.5s infinite;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

.scrollUp {
  -webkit-animation: goTop 2s linear infinite;
          animation: goTop 2s linear infinite;
}

@-webkit-keyframes goTop {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 1;
  }
}

@keyframes goTop {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 1;
  }
}

body {
  background-color: #f9f5f0;
}

header {
  min-height: 100vh;
  background-image: url("https://i.ibb.co/0F2pk4v/IMG-0448.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0 0 20px;
}

header .topContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px 10px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

header .introContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(249, 245, 240, 0.6);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 5px #480e1d;
          box-shadow: 0 0 5px #480e1d;
  padding: 50px;
  width: 345px;
}

@media only screen and (min-width: 768px) {
  header {
    background-attachment: fixed;
  }
  header .introContainer {
    width: 435px;
  }
}

@media only screen and (min-width: 992px) {
  header .introContainer {
    width: 595px;
  }
}

@media only screen and (min-width: 1200px) {
  header .introContainer {
    padding: 50px 100px;
  }
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  background-color: rgba(249, 245, 240, 0.6);
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
}

.top .logo {
  width: 5%;
  margin: 0;
}

.topNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topNav {
  padding: 10px;
}

.topNav li a {
  color: #480e1d;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 5px 10px;
  margin: 0px 5px;
}

.topNav li a:hover, .topNav li a:active, .topNav li a:focus {
  cursor: pointer;
  background-color: transparent;
  border-left: 2px solid #480e1d;
  border-bottom: 2px solid #480e1d;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.stickyNav {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  right: 0;
  left: 0;
}

.slidingMenuToggle {
  padding-top: 20px;
}

.slidingMenuToggle .slidingMenu {
  background-color: rgba(103, 52, 94, 0.6);
  overflow: hidden;
  position: fixed;
  right: 0;
  top: -100%;
  z-index: 2;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
  height: auto;
  width: 100%;
}

.slidingMenuToggle .slidingMenu li {
  list-style: none;
  text-align: center;
}

.slidingMenu a {
  display: inline-block;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #f9f5f0;
  padding: 20px;
  width: 100%;
}

.slidingMenu a:focus, .slidingMenu a:active {
  background-color: #480e1d;
  border-bottom: 1px solid #480e1d;
}

.hamburger {
  position: fixed;
  z-index: 1;
  color: #b4003c;
  font-size: 3rem;
  top: 20px;
  right: 20px;
}

.scrollDown,
.scrollDown::before {
  position: absolute;
  left: 50%;
  bottom: 5%;
}

.scrollDown {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  margin-top: -35px;
  -webkit-box-shadow: inset 0 0 6px 2px #b4003c;
          box-shadow: inset 0 0 6px 2px #b4003c;
  border-radius: 25px;
  border: 2px solid #b4003c;
}

.scrollDown::before {
  content: '';
  width: 12px;
  height: 12px;
  background: #b4003c;
  margin-left: -6px;
  top: 8px;
  border-radius: 6px;
}

.scrollUp {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scrollUp a {
  padding: 10px;
}

.scrollUp a:active, .scrollUp a:focus {
  background-color: transparent;
}

.scrollUp a i {
  font-size: 3.5rem;
  color: #480e1d;
}

@media only screen and (min-width: 1024px) {
  .stickyNav {
    display: inline-block;
  }
  .slidingMenuToggle {
    display: none;
  }
  .scrollUp a:hover {
    background-color: transparent;
  }
}

main {
  padding-top: 80px;
}

main .aboutContainer {
  padding: 5rem 0 0 0;
}

.infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.infoContainer figure {
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px #b4003c;
          box-shadow: 0 0 5px #b4003c;
  margin: 0 20px 20px 0;
  width: calc((100% - 20px) / 2);
}

.infoContainer .aboutMe {
  padding: 10px;
}

.infoContainer .aboutMe p {
  padding: 0 20px 20px 20px;
}

.skillsContainer {
  padding: 1rem 0 5rem;
  margin-bottom: 20px;
}

.skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(249, 245, 240, 0.6);
  border-radius: 50px;
  -webkit-box-shadow: 0 0 5px #b4003c;
          box-shadow: 0 0 5px #b4003c;
  padding: 30px 0;
  margin-top: 50px;
}

.skillsList .skillTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc((100% - 40px) / 3);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 20px;
}

.skillsList .skillTitle p {
  padding: 15px;
}

.projectsContainer {
  margin-bottom: 20px;
}

.projectsContainer .projectsList {
  margin-top: 30%;
}

.project {
  background-color: rgba(249, 245, 240, 0.6);
  border-radius: 50px;
  -webkit-box-shadow: 0 0 5px #b4003c;
          box-shadow: 0 0 5px #b4003c;
  position: relative;
  padding: 30px 0;
  margin: 0 0 25% 0;
}

.project:last-of-type {
  margin: 0 0 10% 0;
}

.project .projectImage {
  position: absolute;
  top: -10%;
  padding: 20px;
  margin: 0 auto;
}

.project .projectInfo {
  padding: 20px 50px;
  text-align: left;
  margin: 25% auto 0;
}

.project .projectInfo p {
  text-align: left;
  padding: 10px 0;
}

.project .projectInfo p .madeWith {
  position: relative;
  color: #b4003c;
  z-index: 0;
  font-size: 2rem;
  margin: 0 5px 0;
}

.project .projectInfo p .madeWith::after {
  content: '';
  background: #b4003c;
  position: absolute;
  display: block;
  height: 50%;
  width: 98%;
  top: 50%;
  left: -2%;
  opacity: .2;
  z-index: -1;
}

.project .projectInfo p .madeWith:first-of-type {
  margin-left: 0;
}

.project .projectInfo .skillTags {
  margin-bottom: 20px;
}

.project .projectInfo .projectLink a:first-of-type {
  margin-right: 10px;
}

.contactContainer {
  margin-top: 10%;
}

.contactFormContainer {
  padding: 20px;
}

.contactFormContainer .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactFormContainer .contactInfo figure {
  margin: 20px auto;
  width: 50%;
}

.contactFormContainer .contactInfo p {
  padding: 10px 20px;
  text-align: left;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

input[type="text"],
input[type="email"] {
  background-color: transparent;
  border: none;
  text-align: left;
  border-bottom: 2px solid #b4003c;
  padding: 20px 5px;
  width: 100%;
}

textarea[id="message"] {
  background-color: transparent;
  text-align: left;
  border: 2px solid #b4003c;
  padding: 10px;
  margin: 30px 0;
  width: 100%;
}

.submit {
  padding: 15px 30px;
  margin-bottom: 50px;
  width: 100%;
}

.socialNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

footer {
  padding: 10px;
  background-color: rgba(249, 245, 240, 0.6);
}

footer i {
  color: #b4003c;
}

@media only Screen and (min-width: 320px) {
  header .introContainer {
    width: 305px;
    padding: 50px 30px;
  }
  .projectLink a {
    font-size: 1.5rem;
    display: inline-block;
    margin: 0 auto;
  }
  .project .projectInfo .projectLink a:first-of-type {
    margin-right: 0px;
  }
  .project .projectImage {
    top: -10%;
  }
  .projectFour .projectImage {
    top: -10%;
  }
  .socialNav li a {
    padding: 3px;
  }
}

@media only screen and (min-width: 376px) {
  .project .projectImage {
    top: -10%;
  }
  .projectFour .projectImage {
    top: -15%;
  }
  .project .projectInfo {
    margin-top: 20%;
  }
  .project .projectInfo .projectLink a:first-of-type {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 440px) {
  .project .projectImage {
    top: -15%;
  }
  .project .projectInfo {
    margin-top: 20%;
  }
  .project .projectInfo a {
    margin: 10px 20px 0 0;
  }
  .socialNav li a {
    padding: 10px;
  }
}

@media only screen and (min-width: 470px) {
  .project .projectInfo {
    margin-top: 20%;
  }
  .project .projectImage {
    top: -15%;
  }
  .projectFour .projectImage {
    top: -23%;
  }
}

@media only screen and (min-width: 500px) {
  .project .projectImage {
    top: -20%;
  }
  .projectFour .projectImage {
    top: -27%;
  }
}

@media only screen and (min-width: 625px) {
  .project .projectImage {
    top: -25%;
  }
  .projectFour .projectImage {
    top: -30%;
  }
}

@media only screen and (min-width: 700px) {
  .project .projectImage {
    top: -28%;
  }
  .projectFour .projectImage {
    top: -35%;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3,
  h4 {
    font-size: 3rem;
  }
  p,
  a {
    font-size: 2rem;
  }
  .skillsList .skillTitle {
    font-size: 5rem;
  }
  .skillsList .skillTitle p {
    font-size: 1.75rem;
  }
  .skillsList {
    padding: 30px;
  }
  .skillsList .skillTitle {
    width: calc((100% - 20px) / 3);
  }
  .projectsContainer .projectsList {
    margin-top: 25%;
  }
  .project {
    margin: 10% 10% 20%;
  }
  .project:last-of-type {
    margin: 10% 10% 0;
  }
  .project .projectImage {
    padding: 20px 50px;
  }
  .project .projectImage {
    top: -20%;
  }
  .projectFour .projectImage {
    top: -25%;
  }
}

@media only screen and (min-width: 900px) {
  .project .projectImage {
    top: -23%;
  }
  .projectFour .projectImage {
    top: -30%;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 3.5rem;
  }
  .infoContainer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .infoContainer figure {
    width: calc((100% - 20px) / 4);
  }
  .infoContainer .aboutMe {
    margin: 0 0 0 30px;
    width: calc((100% - 30px) / 2);
  }
  .skillsContainer {
    padding-top: 5rem;
  }
  .skillsList .skillTitle {
    width: calc((100% - 20px) / 4);
  }
  .projectsContainer .projectsList {
    margin-top: 0;
  }
  .project {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
  }
  .project,
  .project:last-of-type {
    margin: 50px auto;
  }
  .project .projectImage,
  .project:last-of-type .projectImage {
    position: static;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0 10px;
  }
  .project .projectInfo,
  .project .projectInfo:last-of-type,
  .project:last-of-type .projectInfo,
  .project:last-of-type .projectInfo:last-of-type {
    margin-top: 0;
    padding: 20px 20px 20px 50px;
  }
  .project:last-of-type {
    margin-bottom: 0;
  }
  .project:last-of-type .projectImage {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: b;
  }
  .projectsContainer {
    padding-top: 5rem;
  }
  .projectTwo .projectImage {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: b;
  }
  .contactContainer {
    padding-top: 5rem;
    margin: 0;
  }
  .contactFormContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactFormContainer .contactInfo p {
    padding: 10px 50px;
  }
  input[type="text"] {
    margin: 0;
    margin-right: 20px;
    width: calc(50% - 20px);
  }
  input[type="email"] {
    margin: 0;
    margin-left: 20px;
    width: calc(50% - 20px);
  }
}

@media only screen and (min-width: 1200px) {
  a:hover {
    color: #f9f5f0;
    background-color: #480e1d;
    border-radius: 5px;
  }
  .socialNav li a:hover {
    color: #f9f5f0;
    background-color: #b4003c;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .borderBottom:hover {
    width: 250px;
  }
  .skillTitle:hover,
  .project .projectInfo a:hover,
  .submit:hover {
    color: #b4003c;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .project .projectInfo a.anchorBaseColour:hover,
  .contactInfo a.anchorBaseColour:hover {
    -webkit-transform: none;
            transform: none;
    text-decoration: underline;
    font-style: italic;
  }
  .submit:hover {
    background-color: #b4003c;
    color: #f9f5f0;
    border: 2px solid #f9f5f0;
    -webkit-box-shadow: -3px 3px #480e1d;
            box-shadow: -3px 3px #480e1d;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  .project:last-of-type {
    margin-bottom: 0;
  }
}
